.fullheight::before {
    color: silver;
    font-size: 3vw;
    content: "\f126";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.fullheight::after {
    @extend .text-muted;
    
    content: '| sección actualmente bajo desarrollo o mantenimiento |'
}
.fullheight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vw;
    align-items: center;
    h1 {
        @extend .display-4;

        letter-spacing: 5px;
    }
    section {
        display: flex;
        flex-direction: column;
        text-align: center;
        div:before {
            display: block;
            content: "OLAAA";
            color: red;
            font-size: 4vw;
        }
    }
}