#projectspage {
  width: 100%; }
  #projectspage .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; }
    #projectspage .card-columns .card button {
      display: none;
      justify-content: center;
      width: 30%;
      height: 47px;
      top: 20%;
      right: 3%;
      font-weight: bold;
      letter-spacing: 5px;
      background-color: transparent;
      border-color: snow;
      color: rgba(255, 250, 250, 0.5);
      border-width: 1.7px;
      position: absolute;
      content: "" !important;
      z-index: 3331; }
      #projectspage .card-columns .card button:hover {
        background-color: snow;
        color: #222222; }
    #projectspage .card-columns .card #social-nav {
      transition: 0s background-color;
      display: none;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      bottom: 0%;
      position: absolute; }
      #projectspage .card-columns .card #social-nav ul li:last-child {
        display: none; }
      #projectspage .card-columns .card #social-nav ul li {
        width: 33.33%;
        text-align: center; }
        #projectspage .card-columns .card #social-nav ul li a {
          width: 100%;
          color: white;
          font-size: 1.7em;
          display: inline-block;
          visibility: hidden; }
          #projectspage .card-columns .card #social-nav ul li a:hover {
            background-color: snow;
            color: #222222; }
      #projectspage .card-columns .card #social-nav ul::after {
        content: 'COMPARTIR';
        display: flex;
        justify-content: center;
        background-color: snow;
        color: rgba(34, 34, 34, 0.7);
        margin: 0;
        align-items: center;
        height: 37px;
        font-weight: bold;
        letter-spacing: 5px;
        width: 100%;
        bottom: 0;
        position: absolute; }
      #projectspage .card-columns .card #social-nav ul:hover::after {
        display: none; }
      #projectspage .card-columns .card #social-nav ul:hover li a {
        visibility: initial; }
    #projectspage .card-columns .card:hover button {
      display: flex; }
    #projectspage .card-columns .card:hover #social-nav {
      display: flex;
      background-color: rgba(34, 34, 34, 0.5);
      transition-delay: 3s; }

@media (min-width: 1024px) {
  .card-columns {
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    column-count: 2 !important; } }
