#carousel-front {
    .carousel-indicators {
        bottom: -7px;
    }
    .carousel-inner {
        .carousel-item {
            align-items: center;
            max-height: 630px;
            img {
                height: 100%;
            }
            .carousel-caption {
                display: flex;
                justify-content: center;
                position: absolute;
                padding: 1em 0;
                bottom: 0;
                left: 0;
                background-color: rgb(34, 34, 34);
                width: 100%;
                h3 {
                    margin: 0;
                }
            }
        }
    }
}