#modal-front {
  .about-front-btn {
    display: block;
    margin: 0 auto;
    position: relative;
    border: 0;
    border-top: 5px;
    border-style: solid;
    border-color: white;
    font-size: 2.5em;
    background-color: cadetblue;
    padding: 15px 17px;
    z-index: 2;
    a {
      color: snow;
      text-decoration: none;
    }
    &:hover {
      background-color: Teal;
      border-color: rgba(34, 34, 34, 0.7);
    }
  }
}